$color-primary-light: #66ff33bf;
$color-primary-mid: #33b31abf;
$color-primary-dark: #006600bf;

$color-secondary-light: #ff660080;
$color-secondary-mid: #ff330080;
$color-secondary-dark: #ff000080;

$color-tertiary-light: #3333ff80;
$color-tertiary-mid: #321acc80;
$color-tertiary-dark: #33009980;

$color-primary-light-text: #66FF33;
$color-primary-mid-text: #33b31a;
$color-primary-dark-text: #006600;

$color-secondary-light-text: #ff6600;
$color-secondary-mid-text: #ff3300;
$color-secondary-dark-text: #ff0000;

$color-tertiary-light-text: #3333ff;
$color-tertiary-mid-text: #331acc;
$color-tertiary-dark-text: #330099;

$color-text: #686767;

$font-family: 'League Spartan', san-serif;

$font-light: 300;
$font-thick: 700;
$font-mid-thick: 500;

$font-size-paragraph: 16px;
$font-size-heading: 40px;
$font-size-mid: 25px;


$color-grey-light: #f0f0f0;
$color-grey-dark: #000000b3;